# ==================================================
# --- Folders
# ==================================================

# ==================================================
# IntelliJ

**/.idea/

# ==================================================
# Maven

**/target/

# ==================================================
# --- Files
# ==================================================

# ==================================================
# Java

**/*.class
**/*.jar

# ==================================================
# IntelliJ

**/*.iml
